---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
import Footer from '../components/Footer.astro';
import Projects from "../components/Projects.astro";
---

<Layout title="Inby ❤">

	<Header />
	<main>
		<section class="home" id="home">
			<h1>Inby</h1>
			<div class="homepage">
				<h2 class="h2__title">Desarrollador <spa>Web</span></h2>
				<h3>Ve abajo!</h3>
			</div>
		</section>
		
		<section class="about__container detector" id="about">
			<div class="about">
				<p class="p__start">
					Desarrollador <span>Full Stack</span> de HTML, CSS, JS, Astro, Python, PHP, SQlite y Markdown
					con <span>2 años</span> de experiencia y creador del proyecto InNotesBy.
					<a class="more__info" href="sobre-nosotros" data-astro-prefetch="tap"> más información aquí:</a>
				</p>
			</div>
			<div class="about">
				<p>Tecnologías que se ocupar</p>
				<nav class="content"></nav>
			</div>
		</section>
	
		<section class="proyects__section detector" id="proyects">
			<h2>Proyectos</h2>
			<div class="proyects__container">
				<Projects />
			</div>
		</section>
	</main>

	<Footer slot="Footer"/>

	<script slot="TagCloudScript" src="/src/JS/TagCloud.min.js"></script>
	<script slot="TagCloudScript" src="/src/JS/TagCloudVariables.js"></script>

</Layout>

<style is:inline>
	.tagcloud {
		font-size: var(--fs-tag);
		line-height: var(--lh-tag);
	}

	.tagcloud--item {
		padding: 2px 4px;
		cursor: pointer;
		color: var(--secondary-text);
		transition: 0.1s;
	}

	.tagcloud--item:hover {
		opacity: 1 !important;
		z-index: 100 !important;
	}
</style>

<style>
	.h2__title {
		font-size: clamp(100% - 20px, 9.5vw, 70px);
	}

	.h2__title span {
		display: inline-table;
	}

	.h2__title span:nth-child(1) {
		background: linear-gradient(to right, #c08bfd, #fca6fd);
		-webkit-background-clip: text;
		background-clip: text;
		color: transparent;
	}

	.h2__title span:nth-child(2) {
		background: linear-gradient(to right, #87cafa, #878cfa);
		-webkit-background-clip: text;
		background-clip: text;
		color: transparent;
	}

	.more__info {
		cursor: pointer;
		color: var(--tertiary-text);
	}

	.proyects__section {
		display: grid;
		gap: 2rem;
		min-height: 50dvh;
		margin: 0 4rem 2rem 4rem;
	}

	.proyects__container {
		display: grid;
		place-content: center;
		gap: 2rem;
	}

	.about__container {
		display: flex;
		justify-content: center;
		align-items: flex-start;
		align-content: flex-start;
		gap: 3em;
		margin: 0 4em 0 4em;
		min-height: 54dvh;
	}

	.about {
		width: 90%;
		max-width: 600px;
		gap: 2em;
		display: grid;
	}

	.p__start {
		text-align: start;
	}

	.p__start span:nth-child(1) {
		color: var(--secondary-text);
	}

	.p__start span:nth-child(2) {
		color: var(--secondary-text);
	}

	.content {
		display: flex;
		justify-content: center;
	}

	@media (max-width: 1045px) {
		.about__container {
			flex-wrap: wrap;
		}

		.about__container {
			margin: 0 auto 4em auto;
		}
	}
</style>