---
import Layout from "@layouts/Layout.astro";
import Background from "@components/Background.astro";
import Header from "@components/Header.astro";
import Projects from "@components/Projects.astro";
import Technologies from "@components/Technologies.astro";
---

<Layout
    title="Inby ❤"
    description="Desarrollador y Diseñador Web con conocimientos de C, Astro, HTML, CSS, JavaScript, Rust y creador del proyecto music-on-rust, movie-with-you e InNotesBy."
    descriptive_title="Portafolio de Inbydev"
>
    <Background slot="Background" />
    <Header />
    <main>
        <section class="full-section" id="about-me">
            <h1>Inby</h1>
            <div class="about-me">
                <h2>Desarrollador <span>Web</span></h2>
                <p>
                    <span>Desarrollador y Diseñador Web</span> con conocimientos
                    de C, Astro, HTML, CSS, JavaScript, Rust y creador del proyecto
                    <span class="highlighted">music-on-rust</span>,
                    <span class="highlighted">movie-with-you</span> e
                    <span class="highlighted">InNotesBy</span>.
                </p>
            </div>
        </section>

        <section id="proyects">
            <h2>Proyectos</h2>
            <div class="container">
                <Projects />
            </div>
        </section>

        <section id="stack">
            <h2>Tecnologías</h2>
            <Technologies />
        </section>
    </main>
</Layout>

<style>
    h1 {
        font-size: clamp(100% - 0.125rem, 28vw, 8.8rem);
        position: relative;
        font-weight: 100;
        inset: -2rem 0 0 0;
        width: 100%;
        font-family: "FleurDeLeah";
        background: linear-gradient(
            to right,
            #d3ffce 40%,
            var(--secondary-text) 60%
        );
        -webkit-background-clip: text;
        background-clip: text;
        color: transparent;
    }

    h1::before {
        position: absolute;
        content: "";
        background-image: url("/src/images/japanese.webp");
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center top;
        z-index: -1;
        opacity: 0.2;
        inset: 1.02em 1.66em 0 0;
        height: 0.74em;
    }

    h1::after {
        position: absolute;
        content: "";
        background-image: url("/src/images/korean.webp");
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center top;
        z-index: -1;
        opacity: 0.2;
        inset: 1.18em 0 0 2.4em;
        height: 0.48em;
    }

    .about-me h2 {
        font-size: clamp(100% - 20px, 9.5vw, 70px);
    }

    .about-me h2 span {
        background: linear-gradient(to right, #c08bfd, #fca6fd);
        -ebkit-background-clip: text;
        background-clip: text;
        color: transparent;
    }

    .about-me p {
        max-width: 40ch;
        text-wrap: balance;
        text-align: center;
    }

    .about-me span {
        color: var(--secondary-text);
    }

    .about-me .highlighted {
        color: var(--tertiary-text);
    }

    .content {
        display: flex;
        justify-content: center;
    }

    section#stack {
        gap: 2rem;
        margin: 4rem 0 2rem 0;
        min-height: 48rem;
        height: 100dvh;
        max-height: 50rem;
        height: 100svh;
    }

    section#proyects {
        min-height: 50dvh;
        margin: 0 4rem 0 4rem;
    }

    section#proyects .container {
        display: grid;
        place-content: center;
        gap: 2rem;
    }

    @media (max-width: 768px) {
        section#proyects {
            margin: 0 0 2rem;
        }
    }
</style>
