---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
import Footer from '../components/Footer.astro';
import Projects from "../components/Projects.astro";
import Technologies from "../components/Technologies.astro";
---

<Layout
	title="Inby ❤"
	description="Portafolio de Inbydev. Desarrollador Full Stack de PHP, HTML, CSS, JS, Astro, Python, SQlite y Markdown con 2 años de experiencia y creador del proyecto InNotesBy e ImageToWebp."
	descriptive_title="Portafolio de Inbydev"
>

	<Header />
	<main>
		<section class="home full-section" id="home">
			<h1>Inby</h1>
			<div class="homepage">
				<h2>Desarrollador <span>Web</span></h2>
				<p>Desarrollador <span>Full Stack</span> de PHP, HTML, CSS, JS, Astro, Python y creador del proyecto <span class="emphasize">InNotesBy</span>, <span class="emphasize">ImageToWebp</span>, <span class="emphasize">InSuccessBy</span> y <span class="emphasize">Alice AI</span>.</p>
			</div>
		</section>
	
		<section class="proyects__section full-section detector" id="proyects">
			<h2>Proyectos</h2>
			<div class="proyects__container">
				<Projects />
			</div>
		</section>

		<section class="stack__section full-section detector" id="stack">
			<h2>Tecnologías</h2>
			<Technologies />
		</section>
	</main>

	<Footer slot="Footer"/>
</Layout>

<style>
	.homepage h2 {
		font-size: clamp(100% - 20px, 9.5vw, 70px);
	}

	.homepage h2 span {
		display: inline-table;
		background: linear-gradient(to right,#c08bfd,#fca6fd);
		-webkit-background-clip: text;
		background-clip: text;
		color: transparent;
	}

	.homepage p {
		max-width: 39ch;
		text-wrap: balance;
	}

	.homepage span {
		color: var(--secondary-text);
	}

	.homepage .emphasize {
		color: var(--tertiary-text);
	}

	.proyects__section {
		display: grid;
		gap: 2rem;
		min-height: 50dvh;
		margin: 0 4rem 0 4rem;
	}

	.proyects__container {
		display: grid;
		place-content: center;
		gap: 2rem;
	}

	.content {
		display: flex;
		justify-content: center;
	}

	.stack__section {
		display: grid;
		gap: 2rem;
		margin: 4rem 4rem 2rem 4rem;
		align-content: start;
}

	@media (max-width: 600px) {
		.proyects__section {
			margin: 0 0 2rem;
		}
	}
</style>