---
import Layout from "../layouts/Layout.astro";
import Header from "../components/HeaderAbout.astro";
import Footer from '../components/Footer.astro';
import Agradecimientos from "../components/Agradecimientos.astro";
---

<Layout title="Inby ❤">

	<Header />
	<main>
		<section class="home" id="home">
			<h1>Inby</h1>
			<div class="homepage">
				<h2 class="h2__title">Desarrollador <span>UI</span> & <span>UX</span></h2>
				<h3>Ve hacía abajo para encontrar información sobre nosotros!</h3>
			</div>
		</section>
	
		<section id="pfp">
			<div class="sobre_box">
				<div class="sobre_content">
					<img src="/src/Images/sobrenosotros1.webp" alt="sobre_nosotros_1">
					<h2>Aliceki</h2>
					<h2><span>Artista</span></h2>
				</div>
			</div>
			<div class="sobre_box">
				<div class="sobre_content">
					<img src="/src/Images/sobrenosotros2.webp" alt="sobre_nosotros_2">
					<h2>Inbydev</h2>
					<h2><span>Desarrollador Web</span></h2>
				</div>
			</div>
		</section>
	
		<section>
			<section class="subsection" id="about">
				<h2>Sobre nosotros</h2>
				<p>Nuestra historia comenzó a principios del año 2022 por mi, Infi. Lo que en un principio fue un intento por aprender algo nuevo, se convirtió en una algo increíble. Me encantó tanto el frontend como el backend.</p>
				<p>Para mi, Aliceki es de las personas que más me a apoyado en este camino, por eso la incluyo en este proyecto. Sin el apoyo de ella, lo más probable es que nada de esto lo habría podido lograr.</p>
				<p>¡Bienvenido a lo que con mucho amor hemos creado!</p>
			</section>
	
			<section class="subsection" id="thanks">
				<h2><span>Agradecimientos especiales a:</span></h2>
				<div class="cards_container">
					<Agradecimientos />
				</div>
			</section>
		</section>
	</main>

	<Footer slot="Footer"/>
</Layout>

<style>
	@font-face {
		font-family: "Shizuru";
		src:
			url("/public/FONTS/Shizuru-Regular.woff2") format("woff2"),
			url("/public/FONTS/Shizuru-Regular.woff") format("woff"),
			url("/public/FONTS/Shizuru-Regular.ttf") format("truetype");
		font-style: normal;
		font-weight: normal;
		font-display: swap;
	}

	@font-face {
		font-family: "Single Day";
		src:
			url("/public/FONTS/SingleDay-Regular.woff2") format("woff2"),
			url("/public/FONTS/SingleDay-Regular.woff") format("woff"),
			url("/public/FONTS/SingleDay-Regular.ttf") format("truetype");
		font-style: normal;
		font-weight: normal;
		font-display: swap;
	}

	h1::before {
		position: absolute;
		content: "インビー";
		font-family: "Shizuru";
		z-index: -1;
		font-size: 0.4em;
		opacity: 0.2;
		inset: 35svh 4.6em 0 0;
		color: var(--primary-text);
	}

	h1::after {
		position: absolute;
		content: "인비";
		font-family: "Single Day";
		z-index: -1;
		font-size: 0.4em;
		opacity: 0.2;
		inset: 36svh 0 0 6.4em;
		color: var(--primary-text);
	}

	.h2__title {
		font-size: clamp(100% - 20px, 9.5vw, 70px);
	}

	.h2__title span {
		display: inline-table;
	}

	h2 span:nth-child(1) {
		background: linear-gradient(to right, #c08bfd, #fca6fd);
		-webkit-background-clip: text;
		background-clip: text;
		color: transparent;
		display: inline-table;
	}

	h2 span:nth-child(2) {
		background: linear-gradient(to right, #87cafa, #878cfa);
		-webkit-background-clip: text;
		background-clip: text;
		color: transparent;
		display: inline-table;
	}

	.home {
		min-height: 80dvh;
	}
	
	.homepage h3 {
		font-size: clamp(100% - 20px, 5.5vw, 34px);
	}

	.subsection {
		margin-top: 4rem;
		display: flex;
		justify-content: start;
		align-items: center;
		flex-direction: column;
		width: 100%;
		padding: 1em;
		max-width: 80em;
		min-height: 60dvh;
		gap: 2rem;
	}

	.subsection:first-child {
		max-width: 50em;
	}

	.subsection h2 {
		font-size: clamp(2rem, 10vw, 6rem);
		font-family: "RubikDoodleShadow";
		max-width: 10ch;
		margin: 0;
		padding: 0;
	}

	.subsection h2 span{
		background: linear-gradient(315deg, #00ccff, #d400d4);
		color: transparent;
		-webkit-background-clip: text;
		background-clip: text;
		display: inline-table;
		font-size: clamp(2rem, 8vw, 4rem);
	}

	.subsection p {
		font-size: clamp(1rem,3vw,1.6rem);
		line-height: normal;
		text-align: start;
		max-width: 50ch;
		text-wrap: balance;
		margin: 0 0 2em .6em;
		padding: 0;
		width: 100%;
	}

	#pfp, .subsection[id] {
		scroll-margin-top: 16dvh;
	}

	#pfp {
		display: flex;
		justify-content: center;
		min-height: 0;
	}

	.sobre_box {
		overflow: hidden;
		position: relative;
		width: 48dvw;
		max-width: 400px;
		aspect-ratio: 1;
		background: rgba(0,0,0,0.1);
		border-radius: 50%;
		margin: 1em 1.25em;
	}

	.sobre_box::before {
		content: '';
		position: absolute;
		inset: -10px 8.4dvw;
		background: linear-gradient(315deg, var(--tertiary-text), #d400d4);
		transition: 0.5s;
		animation: animate 6s linear infinite;
	}

	.sobre_box:hover::before {
		inset: -20px 0;
	}

	@keyframes animate {
		0%{transform: rotate(0deg);}
		100%{transform: rotate(360deg);}
	}

	.sobre_box::after {
		content: '';
		position: absolute;
		inset: 6px;
		background: var(--background);
		border-radius: 50%;
		z-index: 1;
	}

	.sobre_content {
		position: absolute;
		inset: 30px;
		border: 6px solid rgba(0,0,0,0.3);
		z-index: 3;
		border-radius: 50%;
		overflow: hidden;
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		
	}

	.sobre_content img {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		object-fit: cover;
		transition: var(--f-h-s);
		pointer-events: none;
		z-index: 3;
	}

	.sobre_box:hover .sobre_content img {
		opacity: 0;
	}

	.sobre_content h2 {
		position: relative;
		font-size: 1.6em;
		text-align: center;
		color: #FFF;
		font-weight: 600;
		letter-spacing: 0.05em;
	}

	.sobre_content h2 span {
		font-weight: 300;
		font-size: 0.75em;
	}

	@media (max-width: 800px) {
		main,.subsection[id] {
			scroll-margin-top: 8dvh;
		}
	}

	@media (max-width: 401px) {
		h1::before {
			inset: 33svh 4.6em 0 0 !important;
		}

		h1::after {
			inset: 34svh 0 0 6.4em !important;
		}
	}
</style>
