---
import Layout from "../layouts/Layout.astro";
import Header from "../components/HeaderAbout.astro";
---

<Layout title="Inby ❤">

	<Header />
	<section class="home" id="home">
		<h1>Inbydev</h1>
		<div class="homepage">
			<h2 class="h2__title">Desarrollador <span>UI</span> & <span>UX</span></h2>
			<h3>Ve hacía abajo para encontrar información sobre nosotros!</h3>
		</div>
	</section>

	<main id="pfp">
		<div class="sobre_box">
			<div class="sobre_content">
				<img src="/src/Images/sobrenosotros1.webp" alt="sobre_nosotros_1">
				<h2>Aliceki</h2>
				<h2><span>Artista</span></h2>
			</div>
		</div>
		<div class="sobre_box">
			<div class="sobre_content">
				<img src="/src/Images/sobrenosotros2.webp" alt="sobre_nosotros_2">
				<h2>Infi</h2>
				<h2><span>Desarrollador UI & UX</span></h2>
			</div>
		</div>
	</main>

	<section>
		<article id="about">
			<h2>Sobre nosotros</h2>
			<p>Nuestra historia comenzó a principios del año 2022 por mi, Infi. Lo que en un principio fue simplemente un intento por aprender algo nuevo, se convirtió en una maravilla para nosotros. Me encantó lo genial que era el Front-end y el Back-end y las nuevas tecnologías que han salido en cada una.</p>
			<p>Para mi Aliceki es de las personas que más me a apoyado en este camino, por eso la incluyo en este proyecto. Sin el apoyo de ella, lo más probable es que nada de esto lo habría podido lograr.</p>
			<p>Este proyecto no solo es un testimonio de nuestro crecimiento y dedicación, sino también de las relaciones significativas que hemos construido en el camino. ¡Bienvenido a lo que con mucho amor hemos creado!</p>
		</article>

		<article id="thanks">
			<h1 class="agradecimientos"><span>Agradecimientos especiales a:</span></h1>
			<div class="cardss">
				<div class="cardn">
					<span></span>
					<span></span>
					<span></span>
					<span></span>
					<div class="card_content">
						<h2>01</h2>
						<h3>Aliceki</h3>
						<p>Por estar aquí desde el principio y apoyarme en esto en todo momento <3. </p>
					</div>
				</div>
				<div class="cardn">
					<span></span>
					<span></span>
					<span></span>
					<span></span>
					<div class="card_content">
						<h2>02</h2>
						<h3>Fredoist</h3>
						<p>por ayudarme con un problema que tenía mi header, además de ayudarme con un problema de la barra de scroll, gracias!</p>
					</div>
				</div>
				<div class="cardn">
					<span></span>
					<span></span>
					<span></span>
					<span></span>
					<div class="card_content">
						<h2>03</h2>
						<h3>Abizahir Romero</h3>
						<p>Ayudo a entender mejor mi código, entender porque la semántica es importante y a ver algo que yo no podía ver.</p>
					</div>
				</div>
				<div class="cardn">
					<span></span>
					<span></span>
					<span></span>
					<span></span>
					<div class="card_content">
						<h2>04</h2>
						<h3>Mamá</h3>
						<p>Por apoyarme en mi pasión.</p>
					</div>
				</div>
				<div class="cardn">
					<span></span>
					<span></span>
					<span></span>
					<span></span>
					<div class="card_content">
						<h2>05</h2>
						<h3>Cosmo</h3>
						<p>Por ayudarme a arreglar el error de la fuente cortada, entender mejor el error y ayudarme con un error de scroll horizontal.</p>
					</div>
				</div>
				<div class="cardn">
					<span></span>
					<span></span>
					<span></span>
					<span></span>
					<div class="card_content">
						<h2>06</h2>
						<h3>Darío Valenzuela</h3>
						<p>Por intentar ayudarme con la fuente y probar mi página InNotesBy dándome feedback.</p>
					</div>
				</div>
			</div>
		</article>
	</section>
</Layout>

<style>
	h2 span:nth-child(1) {
		background: linear-gradient(to right, #c08bfd, #fca6fd);
		-webkit-background-clip: text;
		background-clip: text;
		color: transparent;
		display: inline-table;
	}

	h2 span:nth-child(2) {
		background: linear-gradient(to right, #87cafa, #878cfa);
		-webkit-background-clip: text;
		background-clip: text;
		color: transparent;
		display: inline-table;
	}

	article {
		margin-top: 80px;
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		width: 90%;
		max-width: 68em;
		gap: 1em;
	}

	article:first-child {
		max-width: 50em;
	}

	article h1 {
		font-size: 2em;
	}

	article h1 span{
		background: linear-gradient(315deg, #00ccff, #d400d4);
		color: transparent;
		-webkit-background-clip: text;
		background-clip: text;
		display: inline-table;
	}

	article p {
		font-size: clamp(20px, 7vw, 24px);
		line-height: clamp(32px, 7vw, 36px);
		text-align: start;
		margin-bottom: 1em;
	}

	main,article[id] {
		scroll-margin-top: 16dvh;
	}

	main {
		display: flex;
		justify-content: center;
	}

	.sobre_box {
		overflow: hidden;
		position: relative;
		width: 48dvw;
		max-width: 400px;
		aspect-ratio: 1;
		background: rgba(0,0,0,0.1);
		border-radius: 50%;
		margin: 1em 1.25em;
	}

	.sobre_box::before {
		content: '';
		position: absolute;
		inset: -10px 8.4dvw;
		background: linear-gradient(315deg, #00ccff, #d400d4);
		transition: 0.5s;
		animation: animate 4s linear infinite;
	}

	.sobre_box:hover::before {
		inset: -20px 0;
	}

	@keyframes animate {
		0%{transform: rotate(0deg);}
		100%{transform: rotate(360deg);}
	}

	.sobre_box::after {
		content: '';
		position: absolute;
		inset: 6px;
		background: var(--background);
		border-radius: 50%;
		z-index: 1;
	}

	.sobre_content {
		position: absolute;
		inset: 30px;
		border: 6px solid rgba(0,0,0,0.3);
		z-index: 3;
		border-radius: 50%;
		overflow: hidden;
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		
	}

	.sobre_content img {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		object-fit: cover;
		transition: var(--f-h-s);
		pointer-events: none;
		z-index: 3;
	}

	.sobre_box:hover .sobre_content img {
		opacity: 0;
	}

	.sobre_content h2 {
		position: relative;
		font-size: 1.6em;
		text-align: center;
		color: #FFF;
		font-weight: 600;
		letter-spacing: 0.05em;
	}

	.sobre_content h2 span {
		font-weight: 300;
		font-size: 0.75em;
	}



	.cardss {
		width: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
		flex-wrap: wrap;
	}
	.cardss .cardn {
		position: relative;
		opacity: 0.4;
		transition: 0.2s;
		width: 300px;
		height: 400px;
		background: var(--background);
		display: flex;
		justify-content: center;
		align-items: center;
		margin: 30px;
		box-shadow: 0 20px 50px rgba(0,0,0,0.2);
		overflow: hidden;
		
	}

	.cardss .cardn:hover {
		opacity: 1;
	}

	.cardss .cardn::before {
		content: '';
		position: absolute;
		top: 2px;
		left: 2px;
		bottom: 2px;
		width: 50%;
		background: rgba(255,255,255,0.1);
		pointer-events: none;
	}

	.cardss .cardn .card_content {
		padding: 30px;
		text-align: center;
	}

	.cardss .cardn .card_content h2 {
		position: absolute;
		font-size: 4em;
		z-index: 1;
		opacity: 0;
		transition: var(--a-s);
		color: var(--other);
		right: 30px;
		top: 30%;
	}

	.cardss .cardn:hover .card_content h2 {
		opacity: 1;
		transform: translateY(-110%);
	}

	.cardss .cardn .card_content h3 {
		position: relative;
		font-size: 1.5em;
		font-weight: 800;
		color: #FFF;
		z-index: 2;
		opacity: 0.5;
		letter-spacing: 1px;
		transition: 0.5s;
	}

	.cardss .cardn:hover .card_content h3,
	.cardss .cardn:hover .card_content p{
		opacity: 1;
	}

	.cardss .cardn .card_content p {
		position: relative;
		text-align: center;
		font-size: 1em;
		font-weight: 300;
		color: #FFF;
		z-index: 2;
		opacity: 0.5;
		transition: 0.5s;
	}

	.cardss .cardn .card_content a {
		display: inline-block;
		margin-top: 15px;
		padding: 8px 15px;
		background: #FFF;
		color: #0c002b;
		text-decoration: none;
		text-transform: uppercase;
		font-weight: 600;
	}

	.cardss .cardn span {
		transition: 0.5s;
		opacity: 0;
	}


	.cardss .cardn:hover span {
		opacity: 1;
	}



	.cardss .cardn span:nth-child(1) {
		position: absolute;
		top: 0;
		right: 0;
		width: 100%;
		height: 3px;
		background: linear-gradient(to right, transparent, #1799ff);
		animation: animate1 2s linear infinite;
	}

	@keyframes animate1
	{
		0% {transform: translateX(-100%);}
		100% {transform: translateX(100%);}
	}




	.cardss .cardn span:nth-child(2) {
		position: absolute;
		top: 0;
		right: 0;
		width: 3px;
		height: 100%;
		background: linear-gradient(to bottom, transparent, #1799ff);
		animation: animate2 2s linear infinite;
		animation-delay: 1s;
	}

	@keyframes animate2
	{
		0% {transform: translateY(-100%);}
		100% {transform: translateY(100%);}
	}




	.cardss .cardn span:nth-child(3) {
		position: absolute;
		bottom: 0;
		left: 0;
		width: 100%;
		height: 3px;
		background: linear-gradient(to left, transparent, #1799ff);
		animation: animate3 2s linear infinite;
	}

	@keyframes animate3
	{
		0% {transform: translateX(100%);}
		100% {transform: translateX(-100%);}
	}




	.cardss .cardn span:nth-child(4) {
		position: absolute;
		top: 0;
		left: 0;
		width: 3px;
		height: 100%;
		background: linear-gradient(to top, transparent, #1799ff);
		animation: animate4 2s linear infinite;
		animation-delay: 1s;
	}

	@keyframes animate4
	{
		0% {transform: translateY(100%);}
		100% {transform: translateY(-100%);}
	}


	@media (max-width: 800px) {
		main,article[id] {
			scroll-margin-top: 8dvh;
		}
	}
</style>
