
h1 {
    font-size: clamp(100% - 0.125rem, 10vw, 8rem);
    margin: 0 10px;
}

h2 {
    font-family: 'Great Vibes';
    font-size: clamp(100% - 0.125rem, 5.5vw, 5rem);
}

h3 {
    font-weight: 300;
    font-size: clamp(100% - 0.125rem, 2vw, 4.4rem);
}

h4 {
    font-size: clamp(100% - 0.5rem, 1.2vw, 1.4rem);
    line-height: 1.4em;
}

h2, h3, h4, p {
    color: var(--secondary-text);
    max-width: 30ch;
    margin: 0;
    padding: 0;
}

p {
    font-size: clamp(100% - 0.5rem, 1.2vw, 1.2rem);
    line-height: 1.4em;
}

.div50 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-content: start;
    justify-items: center;
    gap: 1.8rem 1.2rem;
    height: 100%;
}

.div100 {
    display: grid;
    align-content: start;
    justify-items: center;
    margin: 0 1rem;
    padding: 1rem 0;
    gap: 1.8rem;
    height: 100%;
}

.div100.Couple {
    gap: 1.2rem;
}

.div50 h4 {
    max-width: 23ch;
}

.div100 img {
    width: 50%;
}

.div100 .div50 img {
    width: 80%;
}

.div100.M img {
    width: 60%;
}

.div100 h2,
.div100 h3,
.div100 p {
    max-width: 40ch;
}

.div100 p.textF {
    max-width: 120ch;
    font-size: clamp(100% - 0.5rem, 1.2vw, 1.1rem);
    line-height: 1.3em;
}

.div100 p.textCompress {
    max-width: 52ch;
}

.back-content .div100 {
    padding-right: 3vw;
}

.front-content .div100 {
    padding-left: 3vw;
}

.book {
    position: relative;
    width: 40svw;
    aspect-ratio: 6.5/7.5;
    transition: transform .5s;
}

.paper {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    perspective: 96svw;
}

.front,
.back {
    background: white;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    transform-origin: left;
    transition: transform .5s;
}

.front {
    z-index: 1;
    backface-visibility: hidden;
    border-left: 3px solid #D5C1EB;
    background-position: center;
	background-attachment: fixed;
	background-size: cover;
	background-image: url(../../Images/back.webp);
}

.back {
    z-index: 0;
    background-position: center;
	background-attachment: fixed;
	background-size: cover;
	background-image: url(../../Images/back.webp);
}

.back-content{
    transform: rotateY(180deg);  
}

.front-content,
.back-content {
    width: 100%;
    height: 100%;
    display: grid;
    justify-items: center;
    align-items: center;
}

.flipped .front,
.flipped .back {
    transform: rotateY(-180deg);
}




.button {
    border: none;
    background: transparent;
    cursor: pointer;
    margin: 2px;
    transition: transform 0.5s;
}

.button:focus {
    outline: none;
}

.button:hover ion-icon {
    color: #636363;
}

.ion-icon {
    transition: 0.2s;
    font-size: clamp(0.25rem, 8vw, 3rem);
    color: gray;
}

#p1 {
    z-index: 15;
}

#p2 {
    z-index: 14;
}

#p3 {
    z-index: 13;
}

#p4 {
    z-index: 12;
}

#p5 {
    z-index: 11;
}

#p6 {
    z-index: 10;
}

#p7 {
    z-index: 9;
}

#p8 {
    z-index: 8;
}

#p9 {
    z-index: 7;
}

#p10 {
    z-index: 6;
}

#p11 {
    z-index: 5;
}

#p12 {
    z-index: 4;
}

#p13 {
    z-index: 3;
}

#p14 {
    z-index: 2;
}


#p15 {
    z-index: 1;
}

.hidden {
    overflow: hidden;
}

/*=============================================
=        		     General  	  	          =
=============================================*/

/*----------  Todo  ----------*/

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Concert One', Arial;
}

body {
    min-height: 100vh;
	background: #D5C1EB;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

section {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

::-webkit-scrollbar {
	width: 12px;
}

::-webkit-scrollbar-thumb {
    background: var(--white);
	border-radius: 6px;
}

@media screen and (min-width: 3000px) {
    h1 {
        font-size: 17rem;
    }
    
    h2 {
        font-size: 8rem;
    }
    
    h3 {
        font-size: 5rem;
    }
    
    h4 {
        font-size: 2.8rem;
    }
    
    p {
        font-size: 2.6rem;
    }

    .div100 p.textF {
        font-size: 2.6rem;
        line-height: 2.8rem;
    }

    .ion-icon {
        font-size: 8rem;
    }
}