<div class="background"></div>
<style is:inline>
    .background {
        width: 100lvw;
        height: 100lvh;
        display: flex;
        position: fixed;
        z-index: -1;
        justify-content: center;
        align-items: center;
        font-family: none;
        background: radial-gradient(
            circle,
            rgb(24, 2, 34, 0.6) 34%,
            rgba(109, 40, 217, 0.6) 180%
        );
        overflow: hidden;

        ::before {
            content: "";
            position: absolute;
            top: -50%;
            left: -50%;
            right: -50%;
            bottom: -50%;
            width: 200%;
            height: 200%;
            background: transparent;
            background-image: repeating-conic-gradient(
                #fff 0%,
                transparent 0.00005%,
                transparent 0.0001%,
                transparent 0.00015%
            );
            opacity: 0.048;
            animation: noise 12s steps(12) infinite;
        }
    }
</style>
