<footer>
    <p>
        <a href="https://github.com/Inbydev/Inby.dev">Inby.dev</a> © 2022 - 2024
        por
        <a href="https://github.com/Inbydev">Inbydev</a>
        está licenciado bajo
        <a href="http://creativecommons.org/licenses/by/4.0/?ref=chooser-v1" target="_blank" style="display:inline-block;">CC BY 4.0
        </a>
    </p>
</footer>
