---
import IcoAppsStack from "./icons/icoStack.astro";
import IcoGoBack from "./icons/icoGoBack.astro";
---

<header class="header">
    <nav>
        <ul class="header__box">
            <li class="header__items">
                <a class="header__link" href="/" aria-label="Go-back">
                    <IcoGoBack />
                </a>
            </li>
            <li class="header__items">
                <h1>Repositorio de apps</h1>
            </li>
            <li class="header__items">
                <a
                    class="header__link"
                    href="#apps-stack"
                    aria-label="Apps-stack"
                >
                    <IcoAppsStack />
                </a>
            </li>
        </ul>
    </nav>
</header>

<style>
    .header {
        width: 100%;
        height: 8lvh;
        min-height: 4.6rem;
        z-index: 4;
        position: fixed;
        border-style: none;
        background: var(--background-header);
        box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
        transition: all var(--h-s);
    }

    .header .header__box {
        height: 8lvh;
        min-height: 4.6rem;
        gap: clamp(1.6rem, 10vw, 4rem);
        display: flex;
        align-items: center;
        justify-content: center;
        overflow: hidden;
        list-style: none;
    }

    .header .header__box .header__link {
        font-size: 2rem;
        color: var(--primary-text);
        transition: 0.2s ease;
        display: flex;
        justify-content: center;
        align-items: center;
        text-decoration: none;
    }

    .header .header__box .header__link svg,
    .header .header__box .header__link svg path {
        width: clamp(2rem, 8vh, 2.4rem);
        transition: 0.2s ease;
    }

    .header .header__box .header__link svg:hover,
    .header .header__box svg:hover #SVGRepo_iconCarrier path {
        fill: var(--hover);
    }

    &:hover {
        cursor: pointer;
    }

    h1 {
        color: #fff;
        font-size: 2rem;
        text-align: center;
    }

    @media (max-width: 680px) {
        .header nav ul li h1 {
            max-width: 12ch;
            font-size: clamp(1.2rem, 9.5vw, 1.4rem);
        }
    }
</style>
