---
const { href } = Astro.props
---

<a href={href} class="LinkButton">
<slot />
</a>

<style>
    .LinkButton {
        display: flex;
        align-items: center;
        color: var(--tertiary-text);
        gap: 0.5rem;
        font-size: clamp(1rem, 3vw, 1.1rem);
        transition: var(--f-h-s);
        background: var(--background-header);
        border-radius: 23px;
        border: 2px solid rgba(255,255,255, .2);
        padding: 5px;
    }

    .LinkButton:hover {
        color: var(--secondary-text);
        --primary-text: var(--secondary-text);
        background: var(--hover);
    }
</style>