---
import HTML from "./icons/technologies-icons/icoHTML.astro";
import CSS from "./icons/technologies-icons/icoCSS.astro";
import JS from "./icons/technologies-icons/icoJS.astro";
import ASTRO from "./icons/technologies-icons/icoAstro.astro";
import PHP from "./icons/technologies-icons/icoPHP.astro";
import BASH from "./icons/technologies-icons/icoBASH.astro";
import ZED from "./icons/technologies-icons/icoZED.astro";
import GIT from "./icons/technologies-icons/icoGIT.astro";
import GITHUB from "./icons/technologies-icons/icoGITHUB.astro";
import KRITA from "./icons/technologies-icons/icoKrita.astro";
import PYTHON from "./icons/technologies-icons/icoPython.astro";
import RUST from "./icons/technologies-icons/icoRust.astro";
import TYPESCRIPT from "./icons/technologies-icons/icoTypeScript.astro";
import C from "./icons/technologies-icons/icoC.astro";
import GODOT from "./icons/technologies-icons/icoGodot.astro";
import CSHARP from "./icons/technologies-icons/icoCSharp.astro";

const TECHNOLOGIES = [
    {
        icon: CSS,
        section: "Frontend",
        title: "CSS",
    },
    {
        icon: HTML,
        section: "Frontend",
        title: "HTML",
    },
    {
        icon: C,
        section: "Aprendiendo",
        title: "C",
    },
    {
        icon: TYPESCRIPT,
        section: "Aprendiendo",
        title: "TypeScript",
    },
    {
        icon: ASTRO,
        section: "Aprendiendo",
        title: "Astro",
    },
    {
        icon: GODOT,
        section: "Aprendiendo",
        title: "Godot",
    },
    {
        icon: CSHARP,
        section: "Aprendiendo",
        title: "C#",
    },
    {
        icon: JS,
        section: "Aprendiendo",
        title: "JavaScript",
    },
    {
        icon: RUST,
        section: "Aprendiendo",
        title: "Rust",
    },
    {
        icon: PHP,
        section: "Aprendiendo",
        title: "PHP",
    },
    {
        icon: BASH,
        section: "Backend",
        title: "Bash",
    },
    {
        icon: PYTHON,
        section: "Backend",
        title: "Python",
    },
    {
        icon: ZED,
        section: "Herramientas",
        title: "Zed",
    },
    {
        icon: GIT,
        section: "Herramientas",
        title: "Git",
    },
    {
        icon: GITHUB,
        section: "Herramientas",
        title: "GitHub",
    },
    {
        icon: KRITA,
        section: "Herramientas",
        title: "Krita",
    }
];
---

<section>
    {
        Array.from(new Set(TECHNOLOGIES.map((tech) => tech.section))).map(
            (section) => (
                <div>
                    <h3>{section}</h3>
                    <ul>
                        {TECHNOLOGIES.filter(
                            (tech) => tech.section === section,
                        ).map(({ icon: Icon, title }) => (
                            <li>
                                <Icon />
                                <span class="popup-title">{title}</span>
                            </li>
                        ))}
                    </ul>
                </div>
            ),
        )
    }
</section>

<style>
    section {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(20rem,1fr));
        gap: 2rem;
        justify-items: center;
        justify-content: center;
        max-width: 44rem;
        padding: 1.7rem 0.7rem;
        margin: auto;
    }

    section div {
        border: 3px solid var(--tertiary-text);
        background: rgba(24, 2, 34, 0.8);
        border-radius: 8px;
        width: clamp(16rem, 90dvw, 20rem);
        aspect-ratio: 1;
    }

    section h3 {
        font-size: 2rem;
        padding: 0.4rem 0;
    }

    section ul {
        list-style: none;
        margin: 1rem;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        gap: clamp(1.7rem, 8.8dvw, 2.4rem);
    }

    section ul li {
        width: 3rem;
        position: relative;
        display: flex;
        justify-content: center;
    }

    section ul li svg {
        width: clamp(2.6rem, 14dvw, 3rem);
        aspect-ratio: 1;
    }

    section ul li:hover .popup-title {
        opacity: 1;
        transform: translateX(-50%) translateY(-4px);
    }

    .popup-title {
        position: absolute;
        bottom: calc(100% + 4px);
        left: 50%;
        transform: translateX(-50%) translateY(8px);
        padding: 0.4rem 0.6rem 0.6rem 0.8rem;
        background: rgb(121, 40, 57);
        color: white;
        font-size: clamp(1.2rem, 6dvw, 1.54rem);
        border-radius: 4px;
        white-space: nowrap;
        opacity: 0;
        pointer-events: none;
        transition:
            opacity 0.19s,
            transform 0.19s;
    }
</style>
